In [17]:
import torch
a = torch.Tensor([[1,1,1],
                  [2,2,2],
                  [3,3,3],
                  [4,4,4],
                  [5,5,5],
                  [6,6,6]])

beam_width = 3
batch_size = 2 
# a.T.reshape(3, -1).T.reshape(-1, a.shape[0], 3).permute(0,2,1).reshape(-1, a.shape[0])

In [18]:
a.reshape(beam_width,batch_size, a.size(1)).transpose(0,1).reshape(beam_width*batch_size,a.size(1))

tensor([[1., 1., 1.],
        [3., 3., 3.],
        [5., 5., 5.],
        [2., 2., 2.],
        [4., 4., 4.],
        [6., 6., 6.]])

In [12]:
a = a.reshape(3, 2, 3)
a

tensor([[[1., 1., 1.],
         [2., 2., 2.]],

        [[3., 3., 3.],
         [4., 4., 4.]],

        [[5., 5., 5.],
         [6., 6., 6.]]])

In [13]:
a = a.transpose(0,1)
a

tensor([[[1., 1., 1.],
         [3., 3., 3.],
         [5., 5., 5.]],

        [[2., 2., 2.],
         [4., 4., 4.],
         [6., 6., 6.]]])

In [14]:
a = a.reshape(6,3)
a

tensor([[1., 1., 1.],
        [3., 3., 3.],
        [5., 5., 5.],
        [2., 2., 2.],
        [4., 4., 4.],
        [6., 6., 6.]])

In [40]:
torch.Tensor([1,2]).repeat_interleave(5)

tensor([1., 1., 1., 1., 1., 2., 2., 2., 2., 2.])

In [11]:
import torch
a = torch.Tensor([[482, 590, 871, 158,  40],
                [482, 505, 313,  10, 876],
                [482, 590, 313, 661,  10],
                [590,  36,  40, 999, 482],
                [158, 590, 482, 182, 871]])
selected = []
for j in range(a.size(0)):
    selected.append(a[j].argmax().item())

In [17]:
a[torch.arange(len(selected)), selected] = 0

#### pickle test frame2traj/cluster

In [1]:
import pickle

In [3]:
with open('packages/TEMOS/samples/neutral_recons/contiguous_frame2cluster_mapping.pkl', 'rb') as handle:
    b = pickle.load(handle)

In [10]:
b

      name  idx  cluster  length
1    03787    1       16     497
3    00435    1       16     497
5    02078    1       16     497
7    03748    1       16     497
9    01195    1      176      15
..     ...  ...      ...     ...
574  00073    1       16     497
576  00148    1       16     497
578  01511    1       16     497
580  01264    1       16     497
582  00515    1       16     497

[437 rows x 4 columns]